<!DOCTYPE html>

<html>


<head>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div class="main-contet">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>


    {{>footer}}
</body>

</html>