<!DOCTYPE html>

<html>


<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Andrew Mead. It uses data from  mapbpox and weathersky</p>
        <img class="portrait" src="/img/immagini-divertenti-115510630433jfc6mpnb0.png">
    </div>

    {{>footer}}
</body>
 </html>