<!DOCTYPE html>

<html>


<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/immagini-divertenti-115510630433jfc6mpnb0.png">
    </div>

    {{>footer}}
</body>
 </html>